{% load static %}
<DOCTYPE html>

<title>{% block title %}PSUSphere{% endblock %}</title>

<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/ready.css' %}">
<link rel="stylesheet" href="{% static 'css/demo.css' %}">

<script src="{% static 'js/core/jquery.3.2.1.min.js' %}"></script>
<script src="{% static 'js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/core/popper.min.js' %}"></script>
<script src="{% static 'js/core/bootstrap.min.js' %}"></script>
<script src="{% static 'js/plugin/chartist/chartist.min.js' %}"></script>
<script src="{% static 'js/plugin/chartist/plugin/chartist-plugin-tooltip.min.js' %}"></script>
<script src="{% static 'js/plugin/bootstrap-notify/bootstrap-notify.min.js' %}"></script>
<script src="{% static 'js/plugin/bootstrap-toggle/bootstrap-toggle.min.js' %}"></script>
<script src="{% static 'js/plugin/jquery-mapael/jquery.mapael.min.js' %}"></script>
<script src="{% static 'js/plugin/jquery-mapael/maps/world_countries.min.js' %}"></script>
<script src="{% static 'js/plugin/chart-circle/circles.min.js' %}"></script>
<script src="{% static 'js/plugin/jquery-scrollbar/jquery.scrollbar.min.js' %}"></script>
<script src="{% static 'js/ready.min.js' %}"></script>

<div class="main-panel">
    {% block content %}
    {% endblock %}

